<header class="border-b-2 bg-gray-100 py-3">
  <nav class="container mx-auto flex items-center gap-10">
    <div>
      <a class="text-2xl" routerLink="/">Books</a>
    </div>

    <div class="flex items-center gap-1">
      <a
        routerLink="/add"
        class="mt-2 cursor-pointer px-4 py-2 decoration-red-400 hover:rounded-md hover:bg-slate-300"
        >Add</a
      >
      <a
        routerLink="/about"
        class="mt-2 cursor-pointer px-4 py-2 decoration-red-400 hover:rounded-md hover:bg-slate-300"
        >About</a
      >
    </div>
  </nav>
</header>
